<div class="content-padding">
  <h1>Buttons</h1>
  <h2>Button full</h2>
  <div class="button-full">
      <a href="" class="butn butn-full butn-full-yellow">Button full yellow</a>
      <a href="" class="butn butn-full butn-full-blue">Button full blue</a>
      <a href="" class="butn butn-full butn-full-lightblue">Button full lightblue</a>
      <a href="" class="butn butn-full butn-full-indigo">Button full indigo</a>
      <a href="" class="butn butn-full butn-full-white">Button full white</a>
      <a href="" class="butn butn-full butn-full-black">Button full black</a>
      <a href="" class="butn butn-full butn-full-darkgrey">Button full darkgrey</a>
      <a href="" class="butn butn-full butn-full-red">Button full red</a>
      <a href="" class="butn butn-full butn-full-purple">Button full pruple</a>
      <a href="" class="butn butn-full butn-full-green">Button full green</a>
      <a href="" class="butn butn-full butn-full-lightgreen">Button full lightgreen</a>
      <a href="" class="butn butn-full butn-full-orange">Button full orange</a>
      <a href="" class="butn butn-full butn-full-deeporange">Button full deeporange</a>
  </div>
  <h2>Button ghost</h2>
  <div class="button-ghost">
    <a href="" class="butn butn-ghost-w butn-ghost-yellow">Button ghost white / yellow</a>
    <a href="" class="butn butn-ghost-b butn-ghost-yellow">Button ghost black / yellow</a>

    <a href="" class="butn butn-ghost-w butn-ghost-blue">Button ghost white / blue</a>
    <a href="" class="butn butn-ghost-b butn-ghost-blue">Button ghost black / blue</a>

    <a href="" class="butn butn-ghost-w butn-ghost-lightblue">Button ghost white / lightblue</a>
    <a href="" class="butn butn-ghost-b butn-ghost-lightblue">Button ghost black / lightblue</a>

    <a href="" class="butn butn-ghost-w butn-ghost-indigo">Button ghost white / indigo</a>
    <a href="" class="butn butn-ghost-b butn-ghost-indigo">Button ghost black / indigo</a>

    <a href="" class="butn butn-ghost-w butn-ghost-white">Button ghost white / white</a>
    <a href="" class="butn butn-ghost-b butn-ghost-white">Button ghost black / white</a>

    <a href="" class="butn butn-ghost-w butn-ghost-black">Button ghost white / black</a>
    <a href="" class="butn butn-ghost-b butn-ghost-black">Button ghost black / black</a>

    <a href="" class="butn butn-ghost-w butn-ghost-darkgrey">Button ghost white / darkgrey</a>
    <a href="" class="butn butn-ghost-b butn-ghost-darkgrey">Button ghost black / darkgrey</a>

    <a href="" class="butn butn-ghost-w butn-ghost-red">Button ghost white / red</a>
    <a href="" class="butn butn-ghost-b butn-ghost-red">Button ghost black / red</a>

    <a href="" class="butn butn-ghost-w butn-ghost-purple">Button ghost white / purple</a>
    <a href="" class="butn butn-ghost-b butn-ghost-purple">Button ghost black / purple</a>

    <a href="" class="butn butn-ghost-w butn-ghost-green">Button ghost white / green</a>
    <a href="" class="butn butn-ghost-b butn-ghost-green">Button ghost black / green</a>

    <a href="" class="butn butn-ghost-w butn-ghost-lightgreen">Button ghost white / lightgreen</a>
    <a href="" class="butn butn-ghost-b butn-ghost-lightgreen">Button ghost black / lightgreen</a>

    <a href="" class="butn butn-ghost-w butn-ghost-orange">Button ghost white / orange</a>
    <a href="" class="butn butn-ghost-b butn-ghost-orange">Button ghost black / orange</a>

    <a href="" class="butn butn-ghost-w butn-ghost-deeporange">Button ghost white / deeporange</a>
    <a href="" class="butn butn-ghost-b butn-ghost-deeporange">Button ghost black / deeporange</a>
  </div>
  <h2>Button premium</h2>
  <div class="button-premium">
    <a href="" class="butn-premium">Button premium</a>
  </div>
  <h2>Button innershadow</h2>
  <div class="button-innershadow">
    <a href="" class="butn-innershadow butn-innershadow-yellow">Button innershadow yellow</a>
    <a href="" class="butn-innershadow butn-innershadow-blue">Button innershadow blue</a>
    <a href="" class="butn-innershadow butn-innershadow-lightblue">Button innershadow lightblue</a>
    <a href="" class="butn-innershadow butn-innershadow-indigo">Button innershadow indigo</a>
    <a href="" class="butn-innershadow butn-innershadow-white">Button innershadow white</a>
    <a href="" class="butn-innershadow butn-innershadow-black">Button innershadow black</a>
    <a href="" class="butn-innershadow butn-innershadow-darkgrey">Button innershadow darkgrey</a>
    <a href="" class="butn-innershadow butn-innershadow-red">Button innershadow red</a>
    <a href="" class="butn-innershadow butn-innershadow-purple">Button innershadow purple</a>
    <a href="" class="butn-innershadow butn-innershadow-green">Button innershadow green</a>
    <a href="" class="butn-innershadow butn-innershadow-lightgreen">Button innershadow lightgreen</a>
    <a href="" class="butn-innershadow butn-innershadow-orange">Button innershadow orange</a>
    <a href="" class="butn-innershadow butn-innershadow-deeporange">Button innershadow deeporange</a>
  </div>
  <h2>Button gelatine</h2>
  <div class="button-gelatine">
      <a href="" class="butn-gelatine butn-gelatine-yellow">Button gelatine yellow</a>
      <a href="" class="butn-gelatine butn-gelatine-blue">Button gelatine blue</a>
      <a href="" class="butn-gelatine butn-gelatine-lightblue">Button gelatine lightblue</a>
      <a href="" class="butn-gelatine butn-gelatine-indigo">Button gelatine indigo</a>
      <a href="" class="butn-gelatine butn-gelatine-white">Button gelatine white</a>
      <a href="" class="butn-gelatine butn-gelatine-black">Button gelatine black</a>
      <a href="" class="butn-gelatine butn-gelatine-darkgrey">Button gelatine darkgrey</a>
      <a href="" class="butn-gelatine butn-gelatine-red">Button gelatine red</a>
      <a href="" class="butn-gelatine butn-gelatine-purple">Button gelatine purple</a>
      <a href="" class="butn-gelatine butn-gelatine-green">Button gelatine green</a>
      <a href="" class="butn-gelatine butn-gelatine-lightgreen">Button gelatine lightgreen</a>
      <a href="" class="butn-gelatine butn-gelatine-orange">Button gelatine orange</a>
      <a href="" class="butn-gelatine butn-gelatine-deeporange">Button gelatine deeporange</a>
  </div>
  <h2>Button gradient</h2>
  <div class="button-gardient">
    <a href="" class="butn-gradient butn-gradient-orange">Button gradient orange</a>
    <a href="" class="butn-gradient butn-gradient-purple">Button gradient purple</a>
    <a href="" class="butn-gradient butn-gradient-green">Button gradient green</a>
    <a href="" class="butn-gradient butn-gradient-blue">Button gradient blue</a>
    <a href="" class="butn-gradient butn-gradient-deeporange">Button gradient deeporange</a>
  </div>
  <h2>Button 3D</h2>
  <a href="" class="butn-3d">Button 3D</a>

  <button (click)="showDialog = !showDialog" class="btn">Open</button>

<app-modal [(visible)]="showDialog">
  <h1>Hello World</h1>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-modal>

</div>